<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-3 border mg-top">
      <%= link_to article_path(article.id) do %>
        <div class="content">
          <%= image_tag "/flower.jpg", class: "img-fluid" %>
          <div class="text-color">
            <p class="title"><%= article.title %></p>
            <span><%= l article.created_at, format: :medium %></span> 
            <span><%= link_to "編集", edit_article_path(article) %></span>
            <span class="text-left"><%= link_to "削除", article_path(article), method: :delete, data: {confirm: "削除しますか？"} %></span>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to "新規作成", new_article_path, class: "content-with btn btn-primary" %>
  </div>
</div>
